<h3>Selecting a dataset</h3>
<p>
    In order to view or evaluate your previously uploaded data, select a dataset or a dataset task from the
    side navigation tree.
</p>

<h3>Uploading to a dataset</h3>
<p>
    If you wish to upload raw eye tracking data to an already existing dataset, please select the particular dataset
    and click the '<span class="italic">Add task</span>' button under the tasks list. Fill out the form and once
    the uploading has finished, you are good to go.
</p>

<h3>Creating a new one</h3>
<p>
    For evaluating new eye tracking data you need to create a dataset first. Then you can proceed to
    create the so-called '<span class="italic">dataset tasks</span>' which contain eye tracking data recorded
    from one screen. For a complex datasets consisting of multiple such screens, create several dataset tasks
    (one screen each).
</p>
