<h3>Dataset task: <span class="bold">{{ task.name ? task.name : 'N/A' }}</span></h3>
<p>Number of scanpaths in this task: {{ task.scanpaths.length }}</p>
<hr />

<!-- Input calculation parameters -->
<h3>Common scanpath</h3>
<p>
    A common scanpath represents the result of combining a set of several individual scanpaths into one
    which reflects their characteristics the most.
</p>

<form class="form-vertical">
    <div class="form-group">
        <label for="selectAlgorithm">Algorithm for the common scanpath computation:</label>
        <select id="selectAlgorithm" class="form-control"
                ng-model="userInputs.commonScanpathAlg" ng-disabled="userInputs.isCustomScanpath">
            <option value="" class="italic">Choose an algorithm..</option>
            <option value="sta">Scanpath Trend Analysis</option>
            <option value="emine">eMINE</option>
            <option value="dotplot">Dotplot</option>
        </select>
    </div>

    <div uib-collapse="!guiParams.showAlgDesc">
        <div class="italic well well-sm text-justify" id="scanpathAlgDescription"
             ng-switch="userInputs.commonScanpathAlg" ng-class="{'semi-transparent': userInputs.isCustomScanpath}">
            <p ng-switch-when="sta">
                <a href="http://dl.acm.org/citation.cfm?id=2970818">Scanpath Trend Analysis</a> (STA) does not only
                consider the visual elements visited by all users, but also considers the visual elements visited by
                the majority in any order. It generates a trending scanpath that addresses the reductionist problem
                by preventing the loss of commonly visited visual elements. The STA algorithm usually generates a common
                scanpath significantly more similar to the inputted scanpaths compared to other existing work.
                Moreover, this algorithm does consider fixation durations in its computations.
            </p>
            <p ng-switch-when="emine">
                The <a href="http://link.springer.com/chapter/10.1007/978-3-319-08245-5_10">eMINE</a> common scanpath
                algorithm was proposed in order to address the problem of existing techniques being too reductionist.
                It relies mostly on evaluating the longest common subsequences of the most similar scanpath pairs from
                the set. However, it does not consider fixation durations in its computations.
            </p>
            <p ng-switch-when="dotplot">
                The <a href="https://arxiv.org/pdf/0909.2000.pdf">Dotplot</a> algorithm was originally developed for the
                purpose of comparing two biological sequences. However, due to the high similarity of DNA and eye movement
                sequences, it was possible to <a href="http://dl.acm.org/citation.cfm?id=1743721">modify</a> it to
                provide common scanpath instead. This algorithm does not consider fixation durations in its
                computations.
            </p>
            <p ng-switch-default>
                Select an algorithm to see its description.
            </p>
        </div>
    </div>

    <div>
        <p class="italic">
            To cross-compare all available algorithms,
            <a ng-href="#/research/dataset/{{ task.datasetId }}/task/{{ task.id }}/alg-compare">click here</a>
        </p>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="userInputs.isCustomScanpath">
            I want to provide my own common scanpath
        </label>
    </div>

    <div class="form-group" uib-collapse="!userInputs.isCustomScanpath">
        <label for="customScanpathText">Enter the expected common scanpath</label>
        <div>
            <input class="form-control" id="customScanpathText" type="text" ng-model="userInputs.customScanpathText"
                   maxlength="40" placeholder="A B C D..">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="getScanpathTableData()"
            ng-disabled="guiParams.isProcessing || !task.scanpaths.length">
        {{ guiParams.submitBtnText }}
        <span ng-show="guiParams.isProcessing">
            <span class="glyphicon glyphicon-refresh spinning"></span>
        </span>
    </button>
    <button type="button" class="btn btn-default" ng-click="toggleAlgDescription()">
        {{ guiParams.algDescText }}
    </button>
</form>
<hr />

<!-- Dataset overview -->
<div class="row">
    <div class="col-md-6">
        <h3>Results overview</h3>
        <!-- Calculated common scanpath -->
        <div class="row" ng-show="!userInputs.isCustomScanpath">
            <div class="col-md-12">
                <h4>Common scanpath:</h4>
                <p>
                    <span ng-hide="task.commonScanpath.fixations.length">Not available</span>
                    <span ng-repeat="fixation in task.commonScanpath.fixations track by $index">
                        {{ fixation[0] }}
                        <sup ng-show="fixation[1] > 0">{{ fixation[1] }}</sup>
                    </span>
                </p>

                <h4>Average similarity to the common scanpath:</h4>
                <p>
                    <span ng-show="task.commonScanpath.avgSimToCommon">
                        {{ task.commonScanpath.avgSimToCommon | number: 2 }}%
                    </span>
                    <span ng-hide="task.commonScanpath.avgSimToCommon">N/A</span>
                </p>
            </div>
        </div>
        <!-- Custom common scanpath -->
        <div class="row" ng-show="userInputs.isCustomScanpath">
            <div class="col-md-12">
                <h3>Custom scanpath:</h3>
                <p>
                    <span ng-hide="task.customScanpath.fixations">Not available</span>
                    <span ng-repeat="fixation in task.customScanpath.fixations track by $index">
                        {{ fixation[0] }}
                    </span>
                </p>

                <h4>Average similarity to the custom scanpath:</h4>
                <p>
                    <span ng-show="task.customScanpath.avgSimToCommon">
                        {{ task.customScanpath.avgSimToCommon | number: 2 }}%
                    </span>
                    <span ng-hide="task.customScanpath.avgSimToCommon">N/A</span>
                </p>
            </div>
        </div>
        <!-- Display controls -->
        <div class="row" id="displayControls">
            <div class="col-md-12">
                <h3>Display controls:</h3>
                <button class="btn btn-default" ng-click="viewCanvasAsImage()">View as image</button>
                <button class="btn btn-default" ng-click="guiParams.showAoiLegend = !guiParams.showAoiLegend">
                    AOI legend
                </button>
                <button class="btn btn-default" ng-click="clearFixations()">Clear results</button>
            </div>
        </div>
        <!-- AOI legend -->
        <div class="row" uib-collapse="!guiParams.showAoiLegend" id="aoiLegend">
            <div class="col-md-12">
                <div class="well well-sm">
                    <ul>
                        <li ng-repeat="aoi in task.aois">
                            {{ aoi[5] }} - {{ aoi[0] }} <span class="aoiFullName">({{ aoi[2] }} x {{ aoi[4] }})</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Dataset visuals -->
    <div id="canvasWrapper" class="col-md-6 text-center">
            <!-- TODO transparency used just for easy animation but animating ng-show is also possible -->
            <canvas id="scanpathCanvas" ng-class="{'transparent': !task.visuals.main}"
                    ng-click="toggleCanvasModal()"></canvas>
    </div>
    <!-- The modal background - clicking toggles the canvas modal again -->
    <div class="modal" ng-click="toggleCanvasModal()" ng-show="guiParams.showCanvasModal">
        <!-- Modal content - force to do nothing on ng-click (else it gets toggled 2 times resulting in nothing) -->
        <div class="modal-content row" ng-click="$event.stopPropagation()">
            <div id="canvasWrapperModal" class="col-md-12 text-center">
                <div class="text-right">
                    <span class="modal-close" ng-click="toggleCanvasModal()">&times;</span>
                </div>
                <canvas id="scanpathCanvasModal"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" id="scanpathTableWrapper">
            <!-- Results table heading -->
            <div class="panel-heading">Individual scanpaths</div>
            <!-- Results table overview content -->
            <table class="table table-hover table-responsive" id="scanpathTable">
                <thead>
                    <tr>
                        <th ng-click="setSort('identifier')">ID</th>
                        <th>Controls</th>
                        <th ng-click="setSort('fixations.length')">Scanpath length</th>
                        <th ng-click="setSort('maxSimilarity.identifier')">Most similar to</th>
                        <th ng-click="setSort('maxSimilarity.value')">Most similar to (val)</th>
                        <th ng-click="setSort('minSimilarity.identifier')">Least similar to</th>
                        <th ng-click="setSort('minSimilarity.value')">Least similar to (val)</th>
                        <th ng-click="setSort('simToCommon')">Similarity to common</th>
                    </tr>
                </thead>
                <tbody ng-repeat="scanpath in task.scanpaths | orderBy: [task.sortBy, 'identifier'] | UndefToEnd: task.sortBy"
                       ng-class="{'row-container-expanded': expandedRows[scanpath.identifier]}">
                    <tr ng-class="{'row-selected': task.individualScanpath.identifier == scanpath.identifier, 'row-excluded': scanpath.excluded}">
                        <td class="userScanpathId"
                            ng-click="expandedRows[scanpath.identifier] = !expandedRows[scanpath.identifier]">
                            {{ scanpath.identifier }}
                        </td>
                        <td class="col-md-2 col-xs-3">
                            <!-- Include the scanpath in the common scanpath calculations -->
                            <span class="glyphicon glyphicon-ok control-include" title="This scanpath is included"
                                  ng-click="toggleRowExcluded(scanpath)" ng-class="{'hidden': scanpath.excluded}">
                            </span>
                            <!-- Exclude the scanpath from the common scanpath calculations -->
                            <span class="glyphicon glyphicon-remove control-exclude" title="This scanpath is excluded"
                                  ng-click="toggleRowExcluded(scanpath)" ng-class="{'hidden': !scanpath.excluded}">
                            </span>
                            <!-- Draw the scanpath on the canvas -->
                            <span class="glyphicon glyphicon-picture control-visualize" title="Visualize this scanpath"
                                  ng-click="drawIndividualScanpath(scanpath)"></span>
                            <!-- See the scanpath details -->
                            <span class="glyphicon glyphicon-menu-down control-expand" title="View scanpath fixations"
                                  ng-click="expandedRows[scanpath.identifier] = !expandedRows[scanpath.identifier]">
                            </span>
                        </td>
                        <td>{{ scanpath.fixations.length }}</td>
                        <td>{{ scanpath.maxSimilarity.identifier }}</td>
                        <td>{{ scanpath.maxSimilarity.value | number: 2}}%</td>
                        <td>{{ scanpath.minSimilarity.identifier }}</td>
                        <td>{{ scanpath.minSimilarity.value | number: 2}}%</td>
                        <td ng-show="scanpath.simToCommon >= 0">
                            {{ scanpath.simToCommon | number: 2 }}%
                        </td>
                        <td ng-hide="scanpath.simToCommon >= 0">N/A</td>
                    </tr>
                    <tr ng-show="expandedRows[scanpath.identifier]" ng-class="{'row-excluded': scanpath.excluded}">
                        <td colspan="42" class="userScanpathFixations">
                            <span ng-repeat="fixation in scanpath.fixations track by $index">
                                {{ fixation[0]}} <sup>{{ fixation[1] }}</sup>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Scanpath table control panel -->
        <div id="scanpathTableControls">
            <!-- Include/exclude scanpaths from calculations -->
            <div class="btn-group">
                <button class="btn btn-success btn-sm" id="enableAllButton" ng-click="setAllRowsExcludedValue(false)">
                    Enable all
                </button>
                <button class="btn btn-danger btn-sm" id="disableAllButton" ng-click="setAllRowsExcludedValue(true)">
                    Disable all
                </button>
            </div>
            <!-- Expand/collapse advanced scanpath data -->
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" ng-click="toggleAllRows(true)">Expand all</button>
                <button class="btn btn-primary btn-sm" ng-click="toggleAllRows(false)">Collapse all</button>
            </div>
            <!-- Utility functions -->
            <div class="btn-group">
                <button class="btn btn-default btn-sm" ng-csv="getTableExport()" csv-label="true"
                        filename="scanpathsExport.csv">
                    CSV export
                </button>
            </div>
        </div>
    </div>
</div>