/*** Imports ***/
@import "open-color";

/*** Colors ***/
$red-cancel: $oc-red-9;
$red-faded: $oc-red-0;
$green-success: $oc-green-9;
$blue-controls: $oc-blue-9;

$text-size-default: 16px;
$text-size-smaller: 14px;

/*** Globals ***/

html {
	// Remove the white space under body on mobile devices
	min-height: 100%;
}

body {
	font-size: $text-size-default;
	// Remove the white space under body on mobile devices
	min-height: 100%;
	// Give footer some space
	padding-bottom: 20px;
}

footer {
	// For stacking columns with some space in between on mobile devices
	div {
		margin-bottom: 15px;
	}
}

#navbarLogo {
	margin-right: 15px;
}

// Fix for this Angular-Bootstrap issue: https://github.com/angular-ui/bootstrap/issues/5474
.collapsing.in-remove-active {
    overflow: hidden;
}

/*** Utilities **/
.transparent {
	opacity: 0;
}

.semi-transparent {
	opacity: 0.5;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.text-white {
	color: $oc-gray-0;
}

// Loading glyphicon (e.g. for buttons)
.glyphicon.spinning {
    animation: spin 1s infinite ease;
    -webkit-animation: spin-webkit 1s infinite ease;
	margin-left: 5px;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/*** Modals ***/
// Modal window background
.modal {
    display: block; // Hidden by default
    position: fixed; // Stay in place
    z-index: 1; // Sit on top
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; // Enable scroll if needed
    background-color: rgba(0, 0, 0, 0.4); // Black with opacity
    cursor: pointer;
}

// Modal dismiss button
.modal-close {
    color: $red-cancel;
    font-size: $text-size-default * 3;
	font-weight: bold;
    cursor: pointer;
	line-height: 1;
}

// Modal content
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; // 5% from the top and centered
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    cursor: default;
}

/*** Forms ***/
#loginPanelMain, #newDatasetPanel, #editDatasetPanel, #registerPanel {
	// User inputs with the same width
	.input-group {
		min-width: 0;
		width: 100%;
	}

	.panel-heading {
		a {
			text-decoration: underline;
		}
	}

	button {
		width: 50%;
	}

	#register-prompt {
		margin-top: 15px;
	}
}

form {
	.input-required {
			color: $red-cancel;
	}

	label {
		font-weight: normal;
	}
}

select, optgroup {
	font-size: $text-size-default;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;

	option {
		font-size: $text-size-default;
	}
}

optgroup {
    padding-top: 6px;
    padding-bottom: 6px;
}

// Center the google button generated in a wrapper div
#googleLoginBtn > div {
	margin: auto;
	width: 50%;
}

/*** Task related elements ***/
#scanpathAlgDescription > p {
	// Remove the huge default margin since the paragraph is positioned in a Bootstrap 'well' element
	margin-bottom: 0px;
}

#scanpathTableWrapper {
	max-height: 500px;
	overflow: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

#scanpathTable {
	font-size: $text-size-smaller;

	td, th {
		text-align: left;
	}

	th:not(:nth-child(2)):hover {
		cursor: pointer;
		text-decoration: underline;
	}
	
	tr {
		&:hover {
			.userScanpathId {
				text-decoration: underline;
			}
		}
	}

	// Excluding/including individual scanpaths
	.row-excluded {
		background-color: $red-faded;

		// Set lower opacity for all table data except first two (ID & controls)
		td:not(:nth-child(2)), .userScanpathFixations {
			opacity: 0.25;
		}
	}

	// The user-selected individual scanpath for visualization
	.row-selected {
		background-color: $oc-blue-0;
	}

	.control-include, .control-exclude, .control-expand, .control-visualize {
		&:focus, &:active, &:hover {
			opacity: 1;
		}

		margin-right: 5px;
		cursor: pointer;
		opacity: 0.25;
		border-radius: 4px;
		padding: 2px;
		color: white;
	}

	.control-include {
		background-color: $green-success;
	}

	.control-exclude {
		background-color: $red-cancel;
	}

	.control-visualize {
		color: $blue-controls;
		background-color: #fff;
		border-color: $blue-controls;
		border: 1px solid;
	}

	.control-expand {
		color: $blue-controls;
		background-color: #fff;
		border-color: $blue-controls;
		border: 1px solid;

		&:focus, &:active, &:hover {
			background-color: $oc-blue-0;
			font-weight: bold;
		}
	}

	// Expanding/collapsing individual scanpaths
	.row-container-expanded {
		background-color: #efefef;
	}

	.userScanpathId {
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	.userScanpathFixations {
		text-align: justify;
	}
}

#scanpathTableControls {
	.btn-group {
		margin-right: 15px;
		margin-bottom: 10px;
	}
}

#displayControls {
	margin-bottom: 15px;

	// Separate the buttons visually if they ever become stacked (too many of them)
	button {
		margin-bottom: 5px;
	}
}

#aoiLegend {
	ul {
		list-style-type: circle;
	}

	.well {
		overflow: auto;
		max-height: 250px;
	}
	
	.aoiFullName {
		font-style: italic;
	}
}

// Task canvas elements
#scanpathCanvas {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	transition: opacity 0.3s ease-in-out;
	max-width: 100%;
	cursor: pointer;
}

#scanpathCanvasModal {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}

.canvasWrapper {
	max-width: 100%;
}

/*** Dataset related screens **/
#tasksTable {
	.row-container-expanded {
		background-color: #efefef;
	}

	.input-group {
		width: 100%;
	}
}

#new-task-panel {
	.input-group {
		width: 100%;
	}
}

#datasetNewEnvironment, #datasetEditEnvironment {
	cursor: pointer;

	#envHeadingText:hover {
		text-decoration: underline;
	}
}

#datasetEditControls {
	margin-bottom: 15px;
}

// Dataset - new task form
.fake-label {
	margin: 0 0 5px 0;
}

// Dataset - edit form
#editDatasetPanel {
	hr {
		margin-top: 5px; // Element above already has a 15px margin
	}

	button {
		width: auto;
	}
}

label {
	// For wrapping the file input in a way that it looks like BootStrap button
	// Cannot be replaced by display:none as the "Please fill this field" displays in the wrong position then
	input[type="file"] {
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

// Dataset sidebar screen
#datasetNavHeading {
	font-weight: bold;
}

// Hard coded link to add a new dataset under dataset global tree navigation
#addTreeData {
    padding: 3px 10px;
	border-radius: 4px;

	&:hover {
		background-color: #eee;
	}

	.glyphicon-plus {
    	padding: 0 2px;
	}
}

/*** Landing page ***/
.landingHeroImage {
	background-image: url('/static/images/landing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#landingContainer {
	margin-top: -20px; // To remove the white space under navbar on the landing screen only

	#landingJumbotron {
		background: transparent;

		a[role='button'] {
			margin-bottom: 15px;
		}
	}
}
