/*** Colors ***/
$dark-red: #a00;
$dark-green: #006400;

$text-size-default: 16px;
$text-size-smaller: 14px;

/*** Globals ***/
body {
	font-size: $text-size-default;
}

/*** Utilities **/
.transparent {
	opacity: 0;
}

// Modal window background
.modal {
    display: block; // Hidden by default
    position: fixed; // Stay in place
    z-index: 1; // Sit on top
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; // Enable scroll if needed
    background-color: rgba(0, 0, 0, 0.4); // Black with opacity
    cursor: pointer;
}

// Modal dismiss button
.modal-close {
    color: #a00;
    font-size: $text-size-default * 2;
	font-weight: bold;
    cursor: pointer;
}

// Modal content
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; // 5% from the top and centered
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    cursor: default;
}

/*** Forms ***/
#login-panel-main, #new-dataset-panel, #register_panel {
	// User inputs with the same width
	.input-group {
		min-width: 0;
		width: 100%;
	}

	.panel-heading {
		a {
			text-decoration: underline;
		}
	}

	button {
		width: 50%;
	}

	#register-prompt {
		margin-top: 15px;
	}
}

form {
	.input-required {
			color: $dark-red;
	}

	label {
		font-weight: normal;
	}
}

select, optgroup {
	font-size: $text-size-default;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

optgroup {
    padding-top: 6px;
    padding-bottom: 6px;
}

/*** Task related elements ***/
#scanpathTableWrapper {
	max-height: 500px;
	overflow: auto;
	margin-bottom: 20px;
}

#scanpathTable {
	font-size: $text-size-smaller;

	td, th:not(:nth-child(2)) {
		text-align: center;
	}

	th:not(:nth-child(2)):hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.colFixations {
		text-align: justify;
	}

	// Excluding/including individual scanpaths
	.row-excluded {
		background-color: rgba($dark-red, 0.05);

		td:not(:nth-child(1)) {
			opacity: 0.25;
		}
	}

	.control-include, .control-exclude {
		&:focus, &:active, &:hover {
			opacity: 1;
		}

		cursor: pointer;
		margin: 8px 4px;
		opacity: 0.25;
		color: white;
		background-color: $dark-green;
		padding: 2px;
		border-radius: 4px;
	}

	.control-exclude {
		// Overwrite style inherited from .control-include
		background-color: $dark-red;
	}
}

#enableAllButton {
	border: 2px solid $dark-green;
	font-weight: bold;
}

#disableAllButton {
	border: 2px solid $dark-red;
	font-weight: bold;
}

// Task canvas elements
#scanpathCanvas {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	transition: opacity 0.5s ease-in-out;
	max-width: 100%;
	cursor: pointer;
}

#scanpathCanvasModal {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}

.canvasWrapper {
	max-width: 100%;
}

/*** Dataset related screens **/
#dataset-name-heading {
	font-weight: bold;
}

#new-task-panel {
	.input-group {
		width: 100%;
	}
}

// Dataset - new task form
.fake-label {
	margin: 0 0 5px 0;
}

label {
	// For wrapping the file input in a way that it looks like BootStrap button
	// Cannot be replaced by display:none as the "Please fill this field" displays in the wrong position then
	input[type="file"] {
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

/*** Dataset sidebar screen **/
// Hard coded link to add a new dataset under dataset global tree navigation
#addTreeData {
    padding: 3px 10px;
	border-radius: 4px;

	&:hover {
		background-color: #eee;
	}

	.glyphicon-plus {
    	padding: 0 2px;
	}
}