<div class="container text-white" id="landingContainer">
    <div class="jumbotron" id="landingJumbotron">
        <h1>Scanpath Evaluator</h1>
        <h2>See through your eye tracking data</h2>
        <p>
            Scanpath Evaluator is
            suitable for general eye tracking data evaluation, common scanpath retrieval and much more. All you need to do is
            register, import your eye tracking data and you're good to go.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">About this project</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Getting started</a>
        </p>
    </div>
</div>
