<div class="container">
    <div class="col-md-2">
        Some kind of data/experiment navigation
    </div>
    <div class="col-md-10">
        <form>
            <div class="form-group">
                <label for="selectAlgorithm">Please select an algorithm for common scanpath comptutation:</label>
                <select id="selectAlgorithm" class="form-control" ng-model="modSelectAlgorithm">
                    <option value="">Choose an algorithm..</option>
                    <optgroup label="Custom algorithms">
                        <option>Scanpath trend analysis</option>
                    </optgroup>
                    <optgroup label="String-edit algorithms">
                        <option>Longest common subsequence</option>
                        <option>Shortest common supersequence</option>
                    </optgroup>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="getCommonScanpath()">Submit</button>
        </form>
        <hr />
        <span>Common scanpath:</span>
        <p>
            <span ng-repeat="region in commonScanpath.trending_scanpath">{{ region }} </span>
        </p>
    </div>
</div>