<h2>Task overview: </h2>
<p>Task ID: {{ task.id }}</p>
<p>Number of scanpaths in this task: {{ task.scanpaths.length }}</p>
<hr />

<!-- Input calculation parameters -->
<h3>Common scanpath</h3>
<p>
    In order to reengineer web pages based on eyetracking, we first need to aggregate, analyse and understand how
    a group of people’s eyetracking data can be combined to create a common scanpath (namely, eye movement sequence)
    in terms of visual elements.
</p>

<form class="form-vertical">
    <div class="form-group">
        <label for="selectAlgorithm">Algorithm for common scanpath comptutation:</label>
        <select id="selectAlgorithm" class="form-control" ng-model="commonScanpathAlg" ng-disabled="customScanpath">
            <option value="">Choose an algorithm..</option>
            <optgroup label="Custom algorithms">
                <option value="sta">Scanpath trend analysis</option>
                <option value="emine">eMINE</option>
                <option value="dotplot">Dotplot</option>
            </optgroup>
            <optgroup label="String-edit algorithms">
                <option>Longest common subsequence</option>
                <option>Shortest common supersequence</option>
            </optgroup>
        </select>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="customScanpath">
            I want to provide my own common scanpath
        </label>
    </div>

    <div class="form-group" ng-show="customScanpath">
        <label for="customScanpathText">Enter the expected common scanpath</label>
        <div>
            <input class="form-control" type="text" ng-model="customScanpathText"
                   maxlength="40" placeholder="A B C D..">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="getTableDetails()" ng-disabled="isProcessing">
        {{ submitBtnText }}
        <span ng-show="isProcessing">
            <span class="glyphicon glyphicon-refresh spinning" ng-show="isProcessing"></span>
        </span>
    </button>
</form>
<hr />

<!-- Dataset overview -->
<div class="row">
    <div class="col-md-6">
        <h3>Results overview</h3>
        <!-- Calculated common scanpath -->
        <div class="row" ng-show="!customScanpath">
            <div class="col-md-12">
                <h4>Common scanpath:</h4>
                <p>
                    <span ng-hide="task.commonScanpath.fixations.length">Not available</span>
                    <span ng-repeat="fixation in task.commonScanpath.fixations track by $index">
                        {{ fixation[0] }}
                        <sup ng-class="{'semi-transparent': fixation[1] == 0}">{{ fixation[1] }}</sup>
                    </span>
                </p>

                <h4>Average similarity to the common scanpath:</h4>
                <p>
                    <span ng-show="task.commonScanpath.avgSimToCommon">
                        {{ task.commonScanpath.avgSimToCommon | number: 2 }}%
                    </span>
                    <span ng-hide="task.commonScanpath.avgSimToCommon">N/A</span>
                </p>
            </div>
        </div>
        <!-- Custom common scanpath -->
        <div class="row" ng-show="customScanpath">
            <div class="col-md-12">
                <h3>Custom scanpath:</h3>
                <p>
                    <span ng-hide="task.customScanpath.fixations">Not available</span>
                    <span ng-repeat="fixation in task.customScanpath.fixations track by $index">
                        {{ fixation[0] }}
                    </span>
                </p>

                <h4>Average similarity to the custom scanpath:</h4>
                <p>
                    <span ng-show="task.customScanpath.avgSimToCommon">
                        {{ task.customScanpath.avgSimToCommon | number: 2 }}%
                    </span>
                    <span ng-hide="task.customScanpath.avgSimToCommon">N/A</span>
                </p>
            </div>
        </div>
        <!-- Display controls -->
        <div class="row" id="displayControls">
            <div class="col-md-12">
                <h3>Display controls:</h3>
                <button class="btn btn-default" ng-click="viewCanvasAsImage()">View as image</button>
                <button class="btn btn-default" ng-click="showAoiLegend = !showAoiLegend">AOI legend</button>
                <button class="btn btn-default" ng-click="clearFixations()">Clear results</button>
            </div>
        </div>
        <!-- AOI legend -->
        <div class="row" uib-collapse="!showAoiLegend" id="aoiLegend">
            <div class="col-md-12">
                <div class="well well-sm">
                    <ul>
                        <li ng-repeat="aoi in task.aois">
                            {{ aoi[5] }} - {{ aoi[0] }} <span class="aoiFullName">({{ aoi[2] }} x {{ aoi[4] }})</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Dataset visuals -->
    <div id="canvasWrapper" class="col-md-6 text-center">
            <!-- TODO transparency used just for easy animation but animating ng-show is also possible -->
            <canvas id="scanpathCanvas" ng-class="{'transparent': !task.visuals.main}"
                    ng-click="toggleCanvasModal()"></canvas>
    </div>
    <!-- The modal background - clicking toggles the canvas modal again -->
    <div class="modal" ng-click="toggleCanvasModal()" ng-show="showCanvasModal">
        <!-- Modal content - force to do nothing on ng-click (else it gets toggled 2 times resulting in nothing) -->
        <div class="modal-content row" ng-click="$event.stopPropagation()">
            <div id="canvasWrapperModal" class="col-md-12 text-center">
                <div class="text-right">
                    <span class="modal-close" ng-click="toggleCanvasModal()">&times;</span>
                </div>
                <canvas id="scanpathCanvasModal"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" id="scanpathTableWrapper">
            <!-- Results table heading -->
            <div class="panel-heading">Individual scanpaths</div>
            <!-- Results table overview content -->
            <table class="table table-hover table-responsive" id="scanpathTable">
                <thead>
                    <tr>
                        <th ng-click="setSort('identifier')">ID</th>
                        <th>Controls</th>
                        <th ng-click="setSort('fixations.length')">Scanpath length</th>
                        <th ng-click="setSort('maxSimilarity.identifier')">Most similar to</th>
                        <th ng-click="setSort('maxSimilarity.value')">Most similar to (val)</th>
                        <th ng-click="setSort('minSimilarity.identifier')">Least similar to</th>
                        <th ng-click="setSort('minSimilarity.value')">Least similar to (val)</th>
                        <th ng-click="setSort('simToCommon')">Similarity to common</th>
                    </tr>
                </thead>
                <tbody ng-repeat="scanpath in task.scanpaths | orderBy: [task.sortBy, 'identifier'] | UndefToEnd: task.sortBy"
                       ng-class="{'row-container-expanded': expanded[scanpath.identifier]}">
                    <tr ng-class="{'row-selected': task.individualScanpath.identifier == scanpath.identifier, 'row-excluded': scanpath.excluded}">
                        <td class="userScanpathId"
                            ng-click="expanded[scanpath.identifier] = !expanded[scanpath.identifier]">
                            {{ scanpath.identifier }}
                        </td>
                        <td class="col-md-2">
                            <span class="glyphicon glyphicon-ok control-include" title="This scanpath is included"
                                  ng-click="toggleScanpathExcluded(scanpath)" ng-class="{'hidden': scanpath.excluded}">
                            </span>
                            <span class="glyphicon glyphicon-remove control-exclude" title="This scanpath is excluded"
                                  ng-click="toggleScanpathExcluded(scanpath)" ng-class="{'hidden': !scanpath.excluded}">
                            </span>
                            <span class="glyphicon glyphicon-picture control-visualize" title="Visualize this scanpath"
                                  ng-click="drawIndividualScanpath(scanpath)"></span>
                            <span class="glyphicon glyphicon-menu-down control-expand" title="View scanpath fixations"
                                  ng-click="expanded[scanpath.identifier] = !expanded[scanpath.identifier]"></span>
                        </td>
                        <td>{{ scanpath.fixations.length }}</td>
                        <td>{{ scanpath.maxSimilarity.identifier }}</td>
                        <td>{{ scanpath.maxSimilarity.value | number: 2}}%</td>
                        <td>{{ scanpath.minSimilarity.identifier }}</td>
                        <td>{{ scanpath.minSimilarity.value | number: 2}}%</td>
                        <td ng-show="scanpath.simToCommon >= 0">
                            {{ scanpath.simToCommon | number: 2 }}%
                        </td>
                        <td ng-hide="scanpath.simToCommon >= 0">N/A</td>
                    </tr>
                    <tr ng-if="expanded[scanpath.identifier]" ng-class="{'row-excluded': scanpath.excluded}">
                        <td colspan="42" class="userScanpathFixations">
                            <span ng-repeat="fixation in scanpath.fixations track by $index">
                                {{ fixation[0]}} <sup>{{ fixation[1] }}</sup>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Scanpath table control panel -->
        <div id="scanpathTableControls">
            <!-- Include/exclude scanpaths from calculations -->
            <div class="btn-group">
                <button class="btn btn-success btn-sm" id="enableAllButton" ng-click="setAllScanpathsValue(false)">
                    Enable all
                </button>
                <button class="btn btn-danger btn-sm" id="disableAllButton" ng-click="setAllScanpathsValue(true)">
                    Disable all
                </button>
            </div>
            <!-- Expand/collapse advanced scanpath data -->
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" ng-click="toggleAllRows(true)">Expand all</button>
                <button class="btn btn-primary btn-sm" ng-click="toggleAllRows(false)">Collapse all</button>
            </div>
            <!-- Utility functions -->
            <div class="btn-group">
                <button class="btn btn-default btn-sm" ng-csv="getTableExport()" csv-label="true"
                        filename="scanpathsExport.csv">
                    CSV export
                </button>
            </div>
        </div>
    </div>
</div>