<div class="container">
    <div class="row">
        <div class="col-md-2">
            Some kind of data/experiment navigation
        </div>
        <div class="col-md-10">
            <!-- Input calculation parameters -->
            <form class="form-vertical">
                <div class="form-group">
                    <label for="selectAlgorithm">Algorithm for common scanpath comptutation:</label>
                    <select id="selectAlgorithm" class="form-control" ng-model="modSelectAlgorithm" ng-disabled="customScanpath">
                        <option value="">Choose an algorithm..</option>
                        <optgroup label="Custom algorithms">
                            <option>Scanpath trend analysis</option>
                        </optgroup>
                        <optgroup label="String-edit algorithms">
                            <option>Longest common subsequence</option>
                            <option>Shortest common supersequence</option>
                        </optgroup>
                    </select>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="customScanpath">
                        I want to provide my own common scanpath
                    </label>
                </div>

                <div class="form-group" ng-show="customScanpath ">
                    <label for="customScanpathText">Enter the expected common scanpath</label>
                    <div>
                        <input class="text-uppercase" type="text" id="customScanpathText" maxlength="40" placeholder="A B C D..">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" ng-click="fillTableDetails()">Submit</button>
            </form>
            <hr />

            <!-- Dataset overview -->
            <div class="row">
                <div class="col-md-8">
                    <h2>Dataset overview</h2>
                    <!-- Calculated common scanpath -->
                    <div class="row" ng-show="!customScanpath">
                        <div class="col-md-12">
                            <h3>Common scanpath:</h3>
                            <p>
                                <span ng-hide="dataset.commonScanpath">Not available</span>
                                <span ng-repeat="region in dataset.commonScanpath.fixations">{{ region }} </span>
                            </p>

                            <h4>Average similarity to the common scanpath:</h4>
                            <p>
                                <span ng-show="dataset.commonScanpath.avgSimToCommon">
                                    {{ dataset.commonScanpath.avgSimToCommon | number: 2 }}%
                                </span>
                                <span ng-hide="dataset.commonScanpath.avgSimToCommon">N/A</span>
                            </p>
                        </div>
                    </div>
                    <!-- Custom common scanpath -->
                    <div class="row" ng-show="customScanpath">
                        <div class="col-md-12">
                            <h3>Custom scanpath:</h3>
                            <p>
                                <span ng-hide="dataset.customScanpath">Not available</span>
                                <span ng-repeat="region in dataset.customScanpath.fixations">{{ region }} </span>
                            </p>

                            <h4>Average similarity to the custom scanpath:</h4>
                            <p>
                                <span ng-show="dataset.customScanpath.avgSimToCommon">
                                    {{ dataset.customScanpath.avgSimToCommon | number: 2 }}%
                                </span>
                                <span ng-hide="dataset.customScanpath.avgSimToCommon">N/A</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Dataset visuals -->
                <div class="col-md-4">
                    <img class="img-responsive" ng-src="{{ dataset.visualMain }}">
                </div>
            </div>
            <hr />

            <!-- Results overview -->
            <table class="table table-hover table-responsive" id="scanpathTable">
                <thead>
                    <tr>
                        <th ng-click="setSort('scanpathSort', 'identifier')">ID</th>
                        <th class="col-md-4">Eye fixations (ms)</th>
                        <th ng-click="setSort('scanpathSort', 'fixations.length')">Scanpath length</th>
                        <th ng-click="setSort('scanpathSort', 'maxSimilarity.identifier')">Most similar to (ID)</th>
                        <th ng-click="setSort('scanpathSort', 'maxSimilarity.value')">Most similar to (val)</th>
                        <th ng-click="setSort('scanpathSort', 'minSimilarity.identifier')">Least similar to (ID)</th>
                        <th ng-click="setSort('scanpathSort', 'minSimilarity.value')">Least similar to (val)</th>
                        <th ng-click="setSort('scanpathSort', 'simToCommon')">Similarity to common</th>
                    </tr>
                </thead>
                <tr ng-repeat="scanpath in dataset.userScanpaths | orderBy: [scanpathSort, 'identifier']">
                    <td>{{ scanpath.identifier }}</td>
                    <td>
                        <span ng-repeat="fixation in scanpath.fixations"  class="text-nowrap">{{ fixation[0]}} <sup>{{ fixation[1]  }}</sup> - </span>
                        <a href="" class="pull-right"><span class="glyphicon glyphicon-menu-down"></span></a>
                    </td>
                    <td>{{ scanpath.fixations.length }}</td>
                    <td>{{ scanpath.maxSimilarity.identifier }}</td>
                    <td>{{ scanpath.maxSimilarity.value | number: 2}}%</td>
                    <td>{{ scanpath.minSimilarity.identifier }}</td>
                    <td>{{ scanpath.minSimilarity.value | number: 2}}%</td>
                    <td ng-show="dataset.commonScanpath || dataset.customScanpath">
                        {{ scanpath.simToCommon | number: 2 }}%
                    </td>
                    <td ng-show="!dataset.commonScanpath && !dataset.customScanpath">N/A</td>
                </tr>
            </table>
        </div>
    </div>
</div>