<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
    <body>
    {% include 'nav.html' %}
        <!-- Breadcrumbs -->
        <div class="container">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">User area</a></li>
            </ol>
        </div>

        <!-- Main content area -->
        {% block content %}{% endblock %}

        <!-- Footer area -->
        {% include 'footer.html' %}
    </body>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <!-- BootStrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>