<div class="container">
    <!-- Brand and nav toggle button grouped together -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" aria-expanded="false"
              ng-click="$root.isNavCollapsed = !$root.isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- Brand logo for wider devices -->
        <a class="navbar-left hidden-xs" href="#/index">
          <img id="navbarLogo" src="/static/images/favicon.png" height="50"/>
        </a>
        <!-- Basic brand name for portrait mobile devices -->
        <a class="navbar-brand visible-xs" href="#/index">
          Scanpath Evaluator
        </a>
    </div>

    <!-- Main nav buttons area -->
    <div class="collapse navbar-collapse" uib-collapse="$root.isNavCollapsed">
        <ul class="nav navbar-nav">
            <!-- Navbar list items -->
            <li ui-sref-active="active">
                <a href="#" ui-sref="index">Home</a>
            </li>
            <li ui-sref-active="active" ng-show="$root.globals.currentUser">
                <a href="#/research" ui-sref="research">Research</a>
            </li>
            <li ui-sref-active="active">
                <a href="#/faq" ui-sref="faq">FAQ</a>
            </li>
        </ul>
        <!-- Login/user-area button -->
        <ul class="nav navbar-nav navbar-right">
            <li ui-sref-active="active" ng-show="!$root.globals.currentUser">
                <a href="#/login" ui-sref="login">Log in</a>
            </li>
            <li ui-sref-active="active" ng-show="!$root.globals.currentUser">
                <a href="#/register" ui-sref="register">Register</a>
            </li>
            <li ui-sref-active="active" ng-show="$root.globals.currentUser">
                <a href="#/profile" ui-sref="profile">
                    <span class="glyphicon glyphicon-user"></span> {{ $root.globals.currentUser.email }}
                </a>
            </li>
            <li ng-click="logout()" ng-show="$root.globals.currentUser">
                <a href="#">Log out</a>
            </li>
        </ul>
    </div>
</div>